@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4fbff;
}
.nav-link{
    color: white !important;
  }
  
  .navbar-brand img{
    max-height: 80px;
  }
  
  a.active{
    color: #007cbd !important;
    background-color: white;
    border-radius: 20px;
  }

  footer img{
    max-width: 100%;
  }
